:host {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  mat-card {
    width: 70%;
    max-width: 500px;
    padding: 50px 20px;
  }

  mat-form-field {
    width: 70%;
  }

  mat-card-header, form.maint-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
