:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  main {
    padding: var(--sp-margin-size);
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  mat-toolbar {
    display: flex;
    min-height: 50px;
    flex-direction: row;
    justify-content: flex-start;
    mat-label {
      margin-right: 16px;
    }
    .spacer {
      flex-grow: 100;
    }
    a.admin {
      justify-self: end;
    }
  }

}
